/* You can add global styles to this file, and also import other style files */
.heading-font {
    font-size: 16px !important;
    font-weight: 600 !important;
}

.sub-heading-font{
    font-size: 14px !important;
    font-weight: 600 !important;
}

.data-font{
    font-size: 12px !important;
    font-weight: 400 !important;
}

